body{
    height: 100vh;
  background-color: rgb(27, 27, 27);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
.logo {
    display: block;
    margin: auto;
    width: 3rem;
    height: 3rem;
    border-radius: 10px;

}
h1{
     margin-top: 12px;
     color: bisque;
     font-size: 30px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     text-align: center;

}

.container {
    max-width: 955px;
    border: 2px solid rgb(4, 19, 12);
    border-radius: 10px;
    margin: auto;
    height: 60vh;
    padding: 33px;
    overflow-y: scroll #ceb7b7;
    margin: bottom 23px;
    background-color: rgb(21, 21, 22);

    

}

.message {
    background-color: rgb(60, 125, 78);
    width: 24%;
    padding: 10px;
    margin: 17px 12px;
    display: block;
    border: 2px solid rgb(40, 21, 21);
    border-radius: 10px;
}

.left {
    float: left;
    clear: both;


}

.right {
    float: right;
    clear: both;
}
#send-container{
    display: block;
    margin: auto;
    
    text-align: center;
    max-width: 985px;
    width: 100%;

}
#messageInp{
    margin-top: 1rem;
    width: 92%;
    background-color: rgb(96, 132, 120);
    border: 2px solid rgb(55, 25, 25);
    border-radius: 6px;
    height: 34px;


}
.message.left {
  background-color: black;
  display: block;
  color: white;
  padding: 0.75rem;
  border-radius: 0.5rem;
}
.btn:hover{
      border: 3px solid rgb(215, 86, 142);
}
.btn{
    cursor: pointer;
    background-color: #d2c8a9;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
}
.message.center {
    font-size: 13px;

   background-color: #cfcfb5;    
   color:rgb(52, 57, 28);               
   text-align: center;          
    display: block;

   width: fit-content;
   margin: 0.5rem auto;          
   padding: 0.5rem 0.5rem;        
   border-radius: 0.5rem;       
  box-shadow:  4px 4px rgba(132, 19, 19, 0.2);
}
@media only screen and (max-width: 745px){
    #messageInp{
        width: 80%;
    }
}
